# Machine Learning Model

In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('../datasets/titanic.csv')
include = ['Pclass', 'Sex', 'Age', 'Fare', 'SibSp', 'Survived']

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Create dummies and drop NaNs
df['Sex'] = df['Sex'].apply(lambda x: 0 if x == 'male' else 1)
df = df[include].dropna()

In [5]:
df.head()

   Pclass  Sex   Age     Fare  SibSp  Survived
0       3    0  22.0   7.2500      1         0
1       1    1  38.0  71.2833      1         1
2       3    1  26.0   7.9250      0         1
3       1    1  35.0  53.1000      1         1
4       3    0  35.0   8.0500      0         0

In [6]:
X = df[['Pclass', 'Sex', 'Age', 'Fare', 'SibSp']]
y = df['Survived']

In [7]:
PREDICTOR = RandomForestClassifier(n_estimators=100).fit(X, y)

In [8]:
np.array([1, 1, 18, 500, 0]).reshape(1, -1)

array([[  1,   1,  18, 500,   0]])

In [9]:
PREDICTOR.predict_proba(np.array([1, 1, 18, 500, 0]).reshape(1, -1))

array([[0.01, 0.99]])

# Flask Application

In [12]:
import flask

In [16]:
result = {"alpha": 1, "beta": 2}

RuntimeError: Working outside of application context.

This typically means that you attempted to use functionality that needed
to interface with the current application object in some way. To solve
this, set up an application context with app.app_context().  See the
documentation for more information.